@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input~label {
    @apply absolute;
  }
  
  input:focus~label,
  input:not(:placeholder-shown)~label {
    @apply -top-8 -left-2.5;
  }

  a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  
    @apply select-none;
  }
}

@font-face {
  font-family: 'CenturyGothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/CenturyGothic.woff2) format('woff2');
}

body {
  font-family: 'CenturyGothic', sans-serif;
}

.main {
  height: calc(100vh - 4rem)
}

.custom-scroll {
  overflow: auto;
  scrollbar-gutter: stable;
}

.custom-scroll::-webkit-scrollbar {
  width: 0; /* Adjust the width of the scrollbar */
}

.custom-scroll-active::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width of the scrollbar */
}

.custom-scroll-active {
  padding-right: 0;
}

.custom-scroll-active::-webkit-scrollbar-track {
  background: none; /* Background of the scrollbar track */
}

.custom-scroll-active::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar itself */
  border-radius: 0.5rem;
}

.custom-scroll-active::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar on hover */
}

.sidebar, .sidebar * {
  transition: all 0.5s ease;
}

.sidebarCollapseButton {
  top: calc(50% - 2rem);
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

.loader {
  border: 5px solid theme('colors.creamAccent');
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}